@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "lexendDeca";
    src: url("/src/assets/fonts/LexendDeca/LexendDeca-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply globally */
  body {
    font-family: "lexendDeca", sans-serif;
    background-color: #fbfbfc;
    color: #213343;
  }